.bg{
    background-color: rgb(219, 215, 215);
}
.bg1{
    background-color: rgb(230, 232, 238);
}
.bg2{
    background-color: rgb(56, 169, 107);
}
.bg3{
    background-color: rgb(229, 240, 218);
}
.chu{
    color: rgb(56, 169, 107);
}

